<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"  connectionString="Data Source=WordCards.db"/>
	</connectionStrings>
	<appSettings>
		<add key="Service_Address" value="github.com" />
		<add key="Api_URL" value="https://api.github.com/repos/{Owner}/{Repository}" />
		<add key="Owner" value="AlexanderZubarevTech" />
		<add key="Repository" value="WordCards" />
		<add key="Release_URL" value="/releases" />
		<add key="Tags_URL" value="/tags" />
		<add key="Token_Key" value=")J@NcRfUjXnZr4u7x!A%D*G-KaPdSgVk" />
		<add key="Token_Name" value="WC_TOKEN" />
		<add key="WC_TOKEN" value="0Nl316M9BxY2K8UJ+9zRs2XrMK2HaOjeVC1RdbD6FguvZxBZgXpPrT6DxiZ4pvMkEgPt9MGYPIvk6v6PcuHvJfgnSiOj/8/YdZgV7b/0FVEXhTpOpJQLtpRa+lJjNRZBEYoA6dUm6rgXS2srVdycDA=="/>
		<!--<add key="Raw_Config_URL" value="https://github.com/AlexanderZubarevTech/WordCards/raw/master/WordCards/App.config"/>-->
		<add key="Raw_Config_URL" value="https://github.com/AlexanderZubarevTech/WordCards/raw/updater/WordCards/App.config"/>		
		<add key="Headers_Accept" value="application/vnd.github+json" />
		<add key="Headers_Authorization" value="token {0}" />
	</appSettings>
</configuration>