<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"  connectionString="Data Source=CardWords.db"/>
	</connectionStrings>
	<appSettings>
		<add key="apiURL" value="https://api.github.com/repos/{owner}/{repo}"/>
		<add key="owner" value="AlexanderZubarevTech"/>
		<add key="repo" value="WordCards"/>
		<add key="releaseURL" value="/releases"/>
		<add key="tagsURL" value="/tags"/>		
		<add key="WC_TOKEN" value="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"/>
		<add key="Raw_Config_URL" value="https://github.com/AlexanderZubarevTech/WordCards/raw/updater/WordCards/App.config"/>
	</appSettings>
</configuration>